POSTGRES_USER=example_value
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_DB=your_database_name
PGDATA=example_value

REPLICA_HOST=example.com
REPLICA_PORT=8080
REPLICA_USER=example_value
REPLICA_PASSWORD=your_replica_password_here
REPLICA_DB=your_database_name
PUB_NAME=example_value
SUB_NAME=example_value